@page "/theachers/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Theacher</h2>
    <hr />
    @if (theacher is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">work_since</dt>
            <dd class="col-sm-10">@theacher.work_since</dd>
            <dt class="col-sm-2">rate</dt>
            <dd class="col-sm-10">@theacher.rate</dd>
            <dt class="col-sm-2">last_name</dt>
            <dd class="col-sm-10">@theacher.last_name</dd>
            <dt class="col-sm-2">first_name</dt>
            <dd class="col-sm-10">@theacher.first_name</dd>
            <dt class="col-sm-2">midle_name</dt>
            <dd class="col-sm-10">@theacher.middle_name</dd>
            <dt class="col-sm-2">birth_date</dt>
            <dd class="col-sm-10">@theacher.birth_date</dd>
            <dt class="col-sm-2">email</dt>
            <dd class="col-sm-10">@theacher.email</dd>
            <dt class="col-sm-2">phone</dt>
            <dd class="col-sm-10">@theacher.phone</dd>
            <dt class="col-sm-2">photo</dt>
            <dd class="col-sm-10">@theacher.photo</dd>
        </dl>
        <div>
            <a href="@($"/theachers/edit?teacher_id={theacher.teacher_id}")">Edit</a> |
            <a href="@($"/theachers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Teacher? theacher;

    [SupplyParameterFromQuery]
    private int teacher_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        theacher = await context.Teachers.FirstOrDefaultAsync(m => m.teacher_id == teacher_id);

        if (theacher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
