@page "/teachers/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Teachers</h2>
    <hr />
    @if (teachers is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">last_name</dt>
            <dd class="col-sm-10">@teachers.last_name</dd>
            <dt class="col-sm-2">first_name</dt>
            <dd class="col-sm-10">@teachers.first_name</dd>
            <dt class="col-sm-2">middle_name</dt>
            <dd class="col-sm-10">@teachers.middle_name</dd>
            <dt class="col-sm-2">bith_date</dt>
            <dd class="col-sm-10">@teachers.birth_date</dd>
            <dt class="col-sm-2">work_since</dt>
            <dd class="col-sm-10">@teachers.work_since</dd>
            <dt class="col-sm-2">rate</dt>
            <dd class="col-sm-10">@teachers.rate</dd>
        </dl>
        <div>
            <a href="@($"/teachers/edit?teacher_id={teachers.teacher_id}")">Edit</a> |
            <a href="@($"/teachers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Teachers? teachers;

    [SupplyParameterFromQuery]
    private int teacher_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        teachers = await context.Teachers.FirstOrDefaultAsync(m => m.teacher_id == teacher_id);

        if (teachers is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
