@page "/students/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Students</h2>
    <hr />
    @if (students is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">last_name</dt>
            <dd class="col-sm-10">@students.last_name</dd>
            <dt class="col-sm-2">first_name</dt>
            <dd class="col-sm-10">@students.first_name</dd>
            <dt class="col-sm-2">middle_name</dt>
            <dd class="col-sm-10">@students.middle_name</dd>
            <dt class="col-sm-2">birth_date</dt>
            <dd class="col-sm-10">@students.birth_date</dd>
            <dt class="col-sm-2">group_id</dt>
            <dd class="col-sm-10">@students.group</dd>
        </dl>
        <div>
            <a href="@($"/students/edit?stud_id={students.stud_id}")">Edit</a> |
            <a href="@($"/students")">Back to List</a>
        </div>
    }
</div>

@code {
    private Students? students;

    [SupplyParameterFromQuery]
    private int stud_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        students = await context.Students.FirstOrDefaultAsync(m => m.stud_id == stud_id);

        if (students is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
